<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li><a href="http://www.csdn.net/" title="title" target="_blank">CSDN  </a></li>
<li><a href="http://music.163.com/#/discover" title="title" target="_blank">网易云音乐  </a></li>
<li><a href="http://www.narutom.com/" title="title" target="_blank">火影中文网  </a></li>
<li><a href="http://www.bilibili.com/" title="title" target="_blank">B站  </a></li>
<li><a href="http://www.acfun.tv/" title="title" target="_blank">A站</a></li>

</ul>
</div>