<div class="widget tag">
<h3 class="title">@me</h3>
<ul class="entry">
<li><a href="mailto:dys0105@gmail.com?subject=test&cc=sample@hotmail.com&body=use mailto sample">send mail</a></li>
<li><a href="http://weibo.com/3168347457/profile?topnav=1&wvr=6&is_all=1">Weibo</a></li>
<li><a href="https://dengysh.github.io">Blog</a></li>
<li><a href="https://github.com/dengysh">Github</a></li>
<li><a href="https://www.facebook.com/profile.php?id=100007430838248">Fb</a></li>
<li><a href="https://twitter.com/dys0105">Twitter</a></li>
</ul>
</div>

